* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", serif;
  background-image: url(/images/GoW_Ragnarok_main_art.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
}

header {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
}

.logo > img {
  object-fit: contain;
  width: 91px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container>nav>ul {
  display: flex;
  list-style: none;
}

.nav-container>nav>ul>li>a {
  display: block;
  padding: 12px;
  background-color: #ffffff;
  color: #000000;
  transition: 0.5s;
}

.nav-container>nav>ul>li>a:hover {
  background-color: #b1b1b1;
  border-radius: 20px;
  color: #000000;
}

.nav-container>nav>ul>input {
  width: 130px;
  margin-right: 20px;
  margin-left: 5px;
  text-align: center;
}

.main-box {
  display: block;
  background-color: rgb(94, 179, 179);
  margin-top: 50px;
  margin-left: 45px;
  border-radius: 15px;
  width: 600px;
  height: 600px;
  padding: 10px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
  transition: 0.3s;
}

.main-box:hover {
  transform: scale(1.1);
} 

.main-title {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}

.main-subtext {
  margin-top: 15px;
  padding: 12px;
  color: #b4ddff;
  font-weight: 400;
  font-size: 24px;
}

.main-img {
  text-align: center;
}

.main-img>img {
  border-radius: 70px;
  width: 600px;
  height: 320px;
  padding: 20px;
  padding-right: 45px;
}

.main-button {
  background-color: #0099ff;
  width: 400px;
  height: 105px;
  margin-top: 40px;
  margin-left: 135px;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  transition: 0.3s;
}

.main-button:hover {
  transform: scale(1.1);
  background-color: #127bc2;
}

.main-button a {
  color: #FFF;
}

.main-right {
  display: flex;
  justify-content: end;
}

.right-title {
  margin-top: -735px;
  margin-right: 120px;
  font-weight: 700;
  font-size: 40px;
  color: rgb(83, 207, 207);
  height: 50px;
  width: 135px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
}